.header{
    background-color: #131921;
    height: 60px;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header_logo{
    width: 120px;
    margin-left : 20px;
    margin-right : 20px;
    margin-top : 18px;

}
.header_searchBar{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 3px 0 0 3px;
    border: none;
    flex:1;
    
}

.header_searchIcon{
    background-color: #e48c19;
    height: 22px !important;
    width: 22px;
    padding: 5px;
    border-radius: 0 3px 3px 0;
}

.header_nav{
    margin-top: 5px;
    display: flex;
    justify-content: space-evenly;
}

.header_Link {
    color: white;
    text-decoration: none;
    
}

.header_options{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.line1{
    font-size: 12px;
    align-content: center;
}

.line2{
  font-size: 14px;
  font-weight: 800;
  align-content: center;

}
.shoppingCart{
    display: flex;
}

.basketCount{
    margin-left: 5px;
    margin-right: 5px;
}
